<html>
<head>
    <title>Sussy Checks Sussers</title>
</head>
<body bgcolor="#eeeeee">
<center>
<A href="top"></A><!-- header -->
    <table cellpadding=10 cellspacing=0 border=1 width=1000 bgcolor="#ffffff">
        <tr valign=top>
            <td width=100%>
                <center><h2>Sussy Checks The Sussers</h2></center>
                <br>
                
                <!-- Introduction Content -->
                <font face="arial, helvetica">
                <font size="-1">
                <B>Sus Checker 2000.</B><br><br>
                
                First Function is the Whitelist Checker, Verifying the sender's email domain if its safe.
                <P>
                Second Function is the Keyword Detection, Counting the number of Suspicious keywords that appear in the email.
                <P>
                Third Function is the Keyword Position Scoring, Assigning higher risk scores for the position of the keywords
                <p>
                Fourth Function is the Edit Distance Check, comparison of the emails domains and sender names against legitimate domains to detect fakes.
                <p>
                Fifth Function is the Suspicious URL checks, Identifying links that do not match the claimed domain or IP addresses.
                <p>
                Lastly, our Risk Score Calculator.
                <p>

                <B>Check out your email's details</B>
                </font>
                </font>

                <!-- Email Analysis Table -->
                 
                <h3 style="text-align: center; margin-bottom: 10px;">Keyword Analysis Results</h3>
                <table border="1" width="100%" cellpadding="4" style="margin:20px 0;">
                    <tr style="background:#ffcc00;">
                        <th>Filename</th>
                        <th>Subject</th>
                        <th>Total Keywords Found</th>
                        <th>Keywords Breakdown</th>
                    </tr>
                    {% for row in analysis_results %}
                    <tr>
                        <td>{{ row.filename }}</td>
                        <td>{{ row.subject }}</td>
                        <td>{{ row.total }}</td>
                        <td>{{ row.summary }}</td>
                    </tr>
                    {% endfor %}
                </table>

                <!-- Rest of your content continues here... -->



<p><!--Function Name-->
			<img src="http://www.cnet.com/i/nl/sh/sub_news.gif" alt="In the news" width="150" height="19" border="0"><br>
				<table cellpadding=0 cellspacing=0 border=0 bgcolor="#cccccc" width="410">
					<tr>
						<td width="100%"><img src="http://www.cnet.com/i/b.gif" width="1" height="1" border="0"></td>
					</tr>
				</table>

				<table cellpadding=0 cellspacing=0 border=0 bgcolor="#ffffff" width="410">
					<tr>
						<td width="100%"><img src="http://www.cnet.com/i/b.gif" width="1" height="10" border="0"></td>
					</tr>
				</table>

				<font face="arial, helvetica">

<!-- Function Name -->
					<font size=-1>
						<a href="http://clickthru.online.com/Click?q=32-Gx5IIrQ6QBLS9RqDFWVhZSgRXBsR" ><b>AMD to unveil chip amid earnings woes</b></a><br>
					</font>
					<font size="-1">
						Advanced Micro Devices will have good news for customers this 
   week, but bad news for investors. 
					</font>

<p><!-- Function Name -->
					<font size=-1>
						<a href="http://clickthru.online.com/Click?q=47-ADmxIIZHloK_TNHOiJGu_NEsnEPR" ><b>Rambus revenue up from year ago</b></a><br>
					</font>
					<font size="-1">
						Rambus, a developer of technology that speeds the performance 
   of computer-memory chips, on Thursday reported fiscal third-
   quarter earnings that rose from a year ago as revenue steadied.
					</font>

<p><!-- Function Name -->
					<font size=-1>
						<a href="http://clickthru.online.com/Click?q=5c-BnjPIZnP6PLR51T53xlZk0f-IonR" ><b>Server company releases new AMD model</b></a><br>
					</font>
					<font size="-1">
						Angstrom Microsystems, a small Boston company specializing in 
   thin servers, has released a new model that squeezes two servers, 
   each with two Advanced Micro Devices Athlon 2100+ processors, into 
   a case that's 1.75-inches, or "1U," thick. The system, designed to 
   be bolted into regular 19-inch racks, typically costs between 
   $4,000 and $5,000, depending on configuration options, spokeswoman 
   Rachel Sun said. 
					</font>


					</font>
				</font>



<p><!--Function Name -->
			<img src="http://www.cnet.com/i/nl/sh/sub_tip.gif" alt="Tip of the week" width="150" height="19" border="0"><br>
				<table cellpadding=0 cellspacing=0 border=0 bgcolor="#cccccc" width="410">
					<tr>
						<td width="100%"><img src="http://www.cnet.com/i/b.gif" width="1" height="1" border="0"></td>
					</tr>
				</table>

				<table cellpadding=0 cellspacing=0 border=0 bgcolor="#ffffff" width="410">
					<tr>
						<td width="100%"><img src="http://www.cnet.com/i/b.gif" width="1" height="10" border="0"></td>
					</tr>
				</table>

				<font face="arial, helvetica"><font size=-1><a href="http://clickthru.online.com/Click?q=71-GwdUIEZcoNyDzsJqwuBXvl3NU2rR" ><b>Tune-Up: The mother of all upgrades</b></a><br>

				<font size="-1">Looking to completely overhaul your PC? Start by replacing 
   your motherboard.</font>

<p>
<!--Function Name-->
			<img src="http://www.cnet.com/i/nl/sh/sub_sfeat.gif" alt="Special Feature" width="150" height="19" border="0"><br>
				<table cellpadding=0 cellspacing=0 border=0 bgcolor="#cccccc" width="410">
					<tr>
						<td width="100%25"><img src="http://www.cnet.com/i/b.gif" width="1" height="1" border="0"></td>
					</tr>
				</table>

				<table cellpadding=0 cellspacing=0 border=0 bgcolor="#ffffff" width="410">
					<tr>
						<td width="100%25"><img src="http://www.cnet.com/i/b.gif" width="1" height="10" border="0"></td>
					</tr>
				</table>	

				<font face="arial, helvetica"><font size="-1">
Did you know that ChannelOnline enables you to streamline your 
sales process by building quotes and orders online? 
<P>
Simply select a customer you've previously entered into 
ChannelOnline's database and their company information, and
a customized price profile is automatically applied to their 
quote. You can add products as you search the product database 
and work on multiple quotes at once as you respond to different 
customer requests throughout the day. 
<P>
<a href="http://clickthru.online.com/Click?q=86-8fH1QCJoJ4gwp9pSjaeTldfVpfRR" ><B>Sign up now</b></a> to streamline your entire buying and selling chain. 
 <P>
<a href="http://clickthru.online.com/Click?q=9b-7-TFQSIo_AWZz1y0dAVJ9PZAKTFR" ><B>Tell me more about ChannelOnline.</b></a>
 
 
 
 
 


